{% extends 'base.html.twig' %}

{% block title %}LicensePlate{% endblock %}

{% block body %}
    <h1>LicensePlate</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ license_plate.id }}</td>
        </tr>
        <tr>
            <th>License_plate</th>
            <td>{{ license_plate.licensePlate }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('license_plate_index') }}">Back</a>

{% endblock %}