{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <style>
        .example-wrapper code { background: #FFFFFF; padding: 2px 6px; }
        .btn-warning {
            color: #FFFFFF;
        }
    </style>

    <div class="text-center">
        <div class="btn-group-vertical">
            <a class="btn btn-primary btn-lg" href="{{ path('license_plate_index') }}">My vehicles</a>
            <br>
            <a class="btn btn-warning btn-lg" href="{{ path('blocker') }}">I have blocked somebody</a>
            <br>
            <a class="btn btn-danger btn-lg" href="{{ path('blockee') }}">Somebody blocked me</a>
        </div>
    </div>

    <footer>
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: #FFFFFF;">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://www.facebook.com/alex.smarandache.15/">Alex Smarandache</a>
        </div>
        <!-- Copyright -->
    </footer>
{% endblock %}